@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400&display=swap');
*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.body{
	margin-top: 0;
	padding:0;
	width: 100%;
	text-align: center;
  background: linear-gradient(205deg, #C3110A 52%, #080808 52%, #fff 53%);
}

/* Titulo-pokemon */
 .titulo-pokemon{
  animation: title 20s ease 0s infinite normal forwards;

 }

@keyframes title {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

/* imagen-central */

.parent{
  margin-top: -50px;

}

.legendarios{
  text-align: center;
	z-index: 997;
}
/* rocket-team */
.roket{
  position: absolute;
  margin-left: -40%;
  margin-top: 10%;
  width: 20%;
  animation: globo 30s ease 0s infinite normal forwards;
}

@keyframes globo {
	0%,
	100% {
		transform: translateY(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateY(-8px);
	}

	20%,
	40%,
	60% {
		transform: translateY(8px);
	}

	80% {
		transform: translateY(6.4px);
	}

	90% {
		transform: translateY(-6.4px);
	}
}

/* card */

.card{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 70%;
}

/* Main */

.main{
padding: 5px;
margin-left: 5%;
margin-top: 5%;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 1px;
grid-row-gap: 8px;
}

.container-charge{
	margin-left: 500px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cargando{
	font-family: 'Press Start 2P', cursive;
	color: #db1212;
}

/* Boton */
.pokebola-boton{
  width: 50px;
  animation: bton 2s ease 0s infinite normal forwards;
  margin-top: -60px;
  -webkit-box-shadow: 5px 5px 12px 1px #000000;
	box-shadow: 5px 5px 12px 1px #000000;
	border-radius: 50%;
	position: absolute;

}

@keyframes bton {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}



/* Pokebolas-traslado-movimiento */
section{
	margin-bottom: 20%;
}

.contenedor{
	margin-top: 5%;
}

/* Poke-0 */
.contenedor-ball{
  width: 50px;
  height: 50px;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  animation: traslate linear 34s infinite;

}

 @keyframes traslate{
    from{margin-left: 100%;}

    to{margin-left: -30%;}
}


.pokebolas{
  width: 30px;
  height: 30px;
   animation: girar 1s linear 0s infinite normal forwards;
}

@keyframes girar {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}
/* poke-1 */
.contenedor-ball1{
  width: 50px;
  height: 50px;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  animation: traslate1 linear 32s infinite;
}

@keyframes traslate1{
    from{margin-left: -30%;}

    to{margin-left: 100%;}

}
.pokebolas1{
  width: 30px;
  height: 30px;
  animation: girar1 1s linear 0s infinite normal forwards;
}

@keyframes girar1 {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* poke-2 */
.contenedor-ball2{
  width: 50px;
  height: 50px;
  padding: 10px;
  overflow: hidden;
  position: absolute;
  animation: traslate2 linear 30s infinite;

}

 @keyframes traslate2{
    from{margin-left: 100%;}

    to{margin-left: -30%;}

}

.pokebolas2{
  width: 30px;
  height: 30px;
  animation: girar2 1s linear 0s infinite normal forwards;
}

@keyframes girar2 {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(-360deg);
	}
}
/* poke-3 */
.contenedor-ball3{
  width: 50px;
  height: 50px;
  padding: 10px;
  overflow-x: hidden;
   position: absolute;
  animation: traslate3 linear 28s infinite;
}

@keyframes traslate3{
    from{margin-left: -30%;}

    to{margin-left: 100%;}

}
.pokebolas3{
  width: 30px;
  height: 30px;
  animation: girar3 1s linear 0s infinite normal forwards;
}

 @keyframes girar3 {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* poke4 */
.contenedor-ball4{
 width: 50px;
  height: 50px;
  padding: 10px;
  overflow-x: hidden;
  position: absolute;
  animation: traslate4 linear 26s infinite;
}

@keyframes traslate4{
    from{margin-left: 100%;}

    to{margin-left: -30%;}

}
.pokebolas4{
  width: 30px;
  height: 30px;
  animation: girar 1s linear 0s infinite normal forwards;
}
@keyframes girar {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(-360deg);
	}
}
